.flex-Container{
 /* width: 100px;
 height: 50px; */
 display: flex;
 text-align: center;
 flex-wrap: wrap;
}
.flex-child{
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 2rem;
    background-color: aqua;
}